{% extends 'base.html.twig' %}

{# templates/product/index.html.twig #}
{% block body %}
    <div id="app"></div>
{% endblock %}

{# block for javascripts links #}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('products') }}
{% endblock %}

{# block for styles links #}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('products') }}
{% endblock %}
